* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Baloo Bhaina 2', cursive;
  color: white;
  background-color: black;
}

header {
  height: 100vh;
  background-color: black;
}

header .container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-image: url(../images/header-bg.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header h1, h2 {
  display: none;
}

footer {
  margin-top: 16px;
  background-color: black;
}

footer .container {
  max-width: 1200px;
}

a {
  color: white;
}

a:hover {
  color: dimgray;
}